// .hidden-content {
// 	display: none;
// 	height: 0;
// 	opacity: 0;
// 	overflow: hidden;
// 	transition: opacity 5s;
// }

// .hidden-content.is-visible {
// 	display: block;
// 	height: auto;
// 	opacity: 1;
// }
// .shown-content {
// 	display: block;
// 	height: auto;
// 	opacity: 1;
// 	overflow: hidden;
// 	transition: opacity 5s;
// }

// .shown-content.is-hidden {
// 	display: none;
// 	height: 0;
// 	opacity: 0;
// }

.fade-in {
	display: block;

	-webkit-animation: fadeInFromNone 0.5s ease-out;
	-moz-animation: fadeInFromNone 0.5s ease-out;
	-o-animation: fadeInFromNone 0.5s ease-out;
	animation: fadeInFromNone 0.5s ease-out;
}

@-webkit-keyframes fadeInFromNone {
	0% {
		display: none;
		opacity: 0;
	}

	1% {
		display: block;
		opacity: 0;
	}

	100% {
		display: block;
		opacity: 1;
	}
}

@-moz-keyframes fadeInFromNone {
	0% {
		display: none;
		opacity: 0;
	}

	1% {
		display: block;
		opacity: 0;
	}

	100% {
		display: block;
		opacity: 1;
	}
}

@-o-keyframes fadeInFromNone {
	0% {
		display: none;
		opacity: 0;
	}

	1% {
		display: block;
		opacity: 0;
	}

	100% {
		display: block;
		opacity: 1;
	}
}

@keyframes fadeInFromNone {
	0% {
		display: none;
		opacity: 0;
	}

	1% {
		display: block;
		opacity: 0;
	}

	100% {
		display: block;
		opacity: 1;
	}
}
.fade-out {
	display: block;

	-webkit-animation: fadeOutFromNone 0.5s ease-out;
	-moz-animation: fadeOutFromNone 0.5s ease-out;
	-o-animation: fadeOutFromNone 0.5s ease-out;
	animation: fadeOutFromNone 0.5s ease-out;
}

@-webkit-keyframes fadeOutFromNone {
	0% {
		display: block;
		opacity: 1;
	}

	99% {
		display: block;
		opacity: 0;
	}

	100% {
		display: none;
		opacity: 0;
	}
}

@-moz-keyframes fadeOutFromNone {
	0% {
		display: block;
		opacity: 1;
	}

	99% {
		display: block;
		opacity: 0;
	}

	100% {
		display: none;
		opacity: 0;
	}
}

@-o-keyframes fadeOutFromNone {
	0% {
		display: block;
		opacity: 1;
	}

	99% {
		display: block;
		opacity: 0;
	}

	100% {
		display: none;
		opacity: 0;
	}
}

@keyframes fadeOutFromNone {
	0% {
		display: block;
		opacity: 1;
	}

	99% {
		display: block;
		opacity: 0;
	}

	100% {
		display: none;
		opacity: 0;
	}
}

.fade_in {
	-webkit-animation: 2s ease 0s normal forwards 1 fadein;
	animation: 2s ease 0s normal forwards 1 fadein;
}

/* Safari, Chrome and Opera > 12.1 */

@-webkit-keyframes fadein {
	from {
		display: none;
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes fadein {
	0% {
		display: none;
		opacity: 0;
	}
	20% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-webkit-keyframes fadein {
	0% {
		display: none;
		opacity: 0;
	}
	20% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.fade-in {
	-webkit-animation: 1s ease 0s normal forwards 1 fadein;
	animation: 1s ease 0s normal forwards 1 fadein;
}

/* Safari, Chrome and Opera > 12.1 */

@-webkit-keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes fadein {
	0% {
		display: none;
		opacity: 0;
	}
	20% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-webkit-keyframes fadein {
	0% {
		display: none;
		opacity: 0;
	}
	20% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

// .fade-out {
// 	animation: fadeOut ease 1s;
// 	-webkit-animation: fadeOut ease 1s;
// 	-moz-animation: fadeOut ease 1s;
// 	-o-animation: fadeOut ease 1s;
// 	-ms-animation: fadeOut ease 1s;
// 	display: none;
// }
// @keyframes fadeOut {
// 	0% {
// 		opacity: 1;
// 	}
// 	100% {
// 		display: none;
// 		opacity: 0;
// 	}
// }

// @-moz-keyframes fadeOut {
// 	0% {
// 		opacity: 1;
// 	}
// 	100% {
// 		display: none;
// 		opacity: 0;
// 	}
// }

// @-webkit-keyframes fadeOut {
// 	0% {
// 		display: block;
// 		opacity: 1;
// 	}
// 	100% {
// 		display: none;
// 		opacity: 0;
// 	}
// }

.show {
	opacity: 1;
}

.hide {
	display: none;
}

/* ensure box is displayed block during the transition  */
.transition.hide {
	display: block;
	opacity: 0;
}

.transition {
	transition: opacity 2s ease;
}

.zoom {
	-webkit-transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
	transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.zoom::after {
	-webkit-transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
	transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.zoom:hover {
	-webkit-transform: scale(1.1, 1.1);
	transform: scale(1.1, 1.1);
}

.zoom:hover::after {
	opacity: 1;
}

.zoom:active {
	-webkit-transform: scale(1, 1);
	transform: scale(1, 1);
}

.zoom:active::after {
	opacity: 1;
}

.hover_fade_in {
	animation: 0.75s ease 0s normal forwards 1 fadein;
}

/* .side_bar_button { */

/* animation: 2s ease 0s normal forwards 1 fadein; */

/* height: 200px; */

/* } */

/* .side_bar_buttons.collapsed {
  max-height:0;
} */

/* .sidebar {
  position: fixed;
  transition: all .5s;
  transform: translateX(-32rem);
  width: 30rem;
  background-color: #2d2d2de6;
  height: 100%;
  top: 110px;
  padding: 10px;
  z-index: 99;
}

.sidebar.open {
  transform: translateX(0px);
} */
