.flex {
	display: flex;
}
.jc-center {
	justify-content: center;
}
.jc-right {
	justify-content: flex-end;
}
.jc-left {
	justify-content: flex-start;
}
.row {
	flex-direction: row;
}
.column {
	flex-direction: column;
}
