.m-10 {
	margin: 10px;
}
.m-20 {
	margin: 20px;
}
.m-30 {
	margin: 30px;
}
.m-40 {
	margin: 40px;
}
.m-50 {
	margin: 50px;
}

.m-none {
	margin: 0px;
}
.m-top-none {
	margin-top: 0px;
}
.m-left-none {
	margin-left: 0px;
}
.m-right-none {
	margin-right: 0px;
}
.m-bottom-none {
	margin-bottom: 0px;
}

.m-h-none {
	margin-left: 0px;
	margin-right: 0px;
}

.m-v-none {
	margin-top: 0px;
	margin-bottom: 0px;
}

.m-xs {
	margin: .2em;
}

.m-s {
	margin: .5em;
}

.m-m {
	margin: .9em;
}

.m-l {
	margin: 1.2em;
}

.m-xl {
	margin: 1.6em;
}

.m-xxl {
	margin: 2em;
}

// Vertical margins

.m-v-auto {
	margin: auto 0em;
}

.m-v-xs {
	margin: .2em 0em;
}

.m-v-s {
	margin: .5em 0em;
}

.m-v-m {
	margin: .9em 0em;
}

.m-v-l {
	margin: 1.2em 0em;
}

.m-v-xl {
	margin: 1.6em 0em;
}

.m-v-xxl {
	margin: 2em 0em;
}

// Horizontal margins

.m-h-auto {
	margin: 0em auto;
}

.m-h-xs {
	margin: 0em .2em;
}

.m-h-s {
	margin: 0em .5em;
}

.m-h-m {
	margin: 0em .9em;
}

.m-h-l {
	margin: 0em 1.2em;
}

.m-h-xl {
	margin: 0em 1.6em;
}

.m-h-xxl {
	margin: 0em 2em;
}

// Left margins

.m-l-auto {
	margin-left: auto;
}

.m-l-xs {
	margin-left: .2em;
}

.m-l-s {
	margin-left: .5em;
}

.m-l-m {
	margin-left: .9em;
}

.m-l-l {
	margin-left: 1.2em;
}

.m-l-xl {
	margin-left: 1.6em;
}

.m-l-xxl {
	margin-left: 2em;
}

// Right margins

.m-r-auto {
	margin-right: auto;
}

.m-r-xs {
	margin-right: .2em;
}

.m-r-s {
	margin-right: .5em;
}

.m-r-m {
	margin-right: .9em;
}

.m-r-l {
	margin-right: 1.2em;
}

.m-r-xl {
	margin-right: 1.6em;
}

.m-r-xxl {
	margin-right: 2em;
}
// Top margins

.m-t-auto {
	margin-top: auto;
}

.m-t-xs {
	margin-top: .2em;
}

.m-t-s {
	margin-top: .5em;
}

.m-t-m {
	margin-top: .9em;
}

.m-t-l {
	margin-top: 1.2em;
}

.m-t-xl {
	margin-top: 1.6em;
}

.m-t-xxl {
	margin-top: 2em;
}

// Bottom margins

.m-b-auto {
	margin-bottom: auto;
}

.m-b-xs {
	margin-bottom: .2em;
}

.m-b-s {
	margin-bottom: .5em;
}

.m-b-m {
	margin-bottom: .9em;
}

.m-b-l {
	margin-bottom: 1.2em;
}

.m-b-xl {
	margin-bottom: 1.6em;
}

.m-b-xxl {
	margin-bottom: 2em;
}
